
<web-app xmlns= "https://jakarta.ee/xml/ns/jakartaee"
xmlns:xsi= "http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation= "https://jakarta.ee/xml/ns/jakartaee
https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
version= "5.0"
metadata-complete= "false">
	<servlet>
		<servlet-name>MyServletName</servlet-name>
		<servlet-class>gov.iti.jets.team5.Main</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServletName</servlet-name>
		<url-pattern>/MyServletUrl</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>CookiesFilter</filter-name>
		<filter-class>gov.iti.jets.team5.utils.filters.CookiesFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CookiesFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>LoggedInFilter</filter-name>
		<filter-class>gov.iti.jets.team5.utils.filters.LoggedInFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoggedInFilter</filter-name>
		<url-pattern>/cart</url-pattern>
		<url-pattern>/checkout</url-pattern>
		<url-pattern>/myAccount</url-pattern>
		<url-pattern>/wishlist</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>PreventLogInAndRegisterFilter</filter-name>
		<filter-class>gov.iti.jets.team5.utils.filters.PreventLogInAndRegisterFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PreventLogInAndRegisterFilter</filter-name>
		<url-pattern>/login</url-pattern>
		<url-pattern>/register</url-pattern>
	</filter-mapping>
</web-app>